

<div class ="carousel-container">
    <a href="/create"><button id="create button">Click here</button></a>

  <div id='imgSlick' class = 'img' data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>Img
    <!-- #each handlebar loop to get data via id -->
    {{#each imageObj}}
        <div class = "slider-item" id="{{this.id}}" data-id="{{this.id}}" data-userId="{{this.userId}}">
          {{this.title}}<a  href="../submission/{{this.id}}"><img class="slider-image" height=168 width=168 src="{{this.file}}"></a> </div>
    {{/each}}

    <div class="slider-nav"></div>
  </div>
  <a href="#" class="prev-slide" id="prev-slide-1"><i class="fas fa-angle-left fa-3x"></i></a>
  
  <a href="#" class="next-slide" id="next-slide-1"><i class="fas fa-angle-right fa-3x"></i></a>
</div>


<div class ="carousel-container">
    <a href="/create"><button id="create button">Click here</button></a>
  <div id='txtSlick' class = 'txt'data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>Text
    {{#each textObj}}
        <div class = "slider-item" id="{{this.id}}" data-id="{{this.id}}" data-userId="{{this.userId}}">
          {{this.title}}<a  href="../submission/{{this.id}}"><img class="slider-image" src="/images/text.jpg"></a> </div> 
    {{/each}}

    <div class="slider-nav"></div>
  </div>
  <a href="#" class="prev-slide" id="prev-slide-2"><i class="fas fa-angle-left fa-3x"></i></a>
  
  <a href="#" class="next-slide" id="next-slide-2"><i class="fas fa-angle-right fa-3x"></i></a>
</div>

<div class ="carousel-container">
    <a href="/create"><button id="create button">Click here</button></a>
  <div id='audioSlick' class = 'txt'data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>Audio
    {{#each audioObj}}
      <div class = "slider-item" id="{{this.id}}" data-id="{{this.id}}" data-userId="{{this.userId}}">
        {{this.title}}<a  href="../submission/{{this.id}}"><img class="slider-image" src="https://png2.kisspng.com/sh/32d8b8c97654e91cacd3d96ed1c01008/L0KzQYm3VMA4N5dvfZH0aYP2gLBuTf12e5pogdN3LX34g7rqgfwudpD5fZ9sb33zhcXskr1qa5Dzi592dYPsc371jCRme146edUEM0KzQYm7VvNmOF88TagAOEK6QYK8UsMyO2UAT6kANEK3PsH1h5==/kisspng-musician-musical-note-computer-icons-music-notes-5ac93201846ce0.7565827115231349775424.png"></a> </div>
    {{/each}}

    <div class="slider-nav"></div>
  </div>
  <a href="#" class="prev-slide" id="prev-slide-3"><i class="fas fa-angle-left fa-3x"></i></a>
  
  <a href="#" class="next-slide" id="next-slide-3"><i class="fas fa-angle-right fa-3x"></i></a>
</div>




  
  
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script> 
  <script type="text/javascript" src="/js/members.js"></script>
