<link rel="stylesheet" href="/css/collectives.css">

<div id = 'main'>
    <ul class="list-group">
        {{#each found}}
            <li class="list-group-item">
                <a href='{{this.dataValues.User.id}}'>{{this.dataValues.User.username}}</a>
                <a href='../collective/{{this.id}}'>{{this.title}}</a>  | {{this.description}}
                <div>Created by: {{this.dataValues.User.username}}</div>
            </li>
        {{/each}}
    </ul>
    {{!-- <ul class="list-group">
            <li class="list-group-item">
                <div class = 'collectivebox'>
                    <div class='collectivename'><a href='#'>Collective 1</a> </div> 
                    <div class='divider'></div>
                    <div class='collectivedescription'>description</div> 
                    <div class='createdby'>Created by: <a href='#'>New User</a></div>

                </div>
            </li>
    </ul> --}}
</div>
