<link rel="stylesheet" href="/css/collectives.css">

<div id = 'main'>
    <ul class="list-group">
        {{#each this}}
            {{#if this.id}}
                <li class="list-group-item">
                    <a href='../collective/{{this.id}}'>{{this.title}}</a>  | {{this.description}}
                    <div>Created by: <a href='/user/{{this.dataValues.Users.0.id}}'>{{this.dataValues.Users.0.username}}</a></div>
                </li>
            {{/if}}
        {{/each}}
    </ul>
    {{!-- <ul class="list-group">
            <li class="list-group-item">
                <div class = 'collectivebox'>
                    <div class='collectivename'><a href='#'>Collective 1</a> </div> 
                    <div class='divider'></div>
                    <div class='collectivedescription'>description</div> 
                    <div class='createdby'>Created by: <a href='#'>New User</a></div>

                </div>
            </li>
    </ul> --}}
</div>
