
<link rel="stylesheet" href="/css/media.css">

<div id = 'main'>
  <container class = "container-fluid"> 
    <div id ='media'>
      
      <div id = 'mediaheader'>
        <div id = 'mediatitle' >{{this.dataValues.title}}</div>
        <img class = 'avatar' src='https://qph.fs.quoracdn.net/main-qimg-8da972b6e2138902fdebf133cd73a4f6'>
        <div id = 'mediaauthor' >{{userObj.username}}</div>
        <div id = 'mediadate'>{{this.dataValues.createdAt}}</div>
      </div>

      <div id = 'mediacontent'>
        {{#switch this.dataValues.type}}
          {{#case 'image'}}
            <div id ='mediacontent'><img height=340 width=340 src='{{this.dataValues.file}}'></div>
          {{/case}}
          {{#case 'text'}}
            <div id ='mediacontent'>{{this.dataValues.file}}</div>
          {{/case}}
        {{/switch}}
        <div id ='mediabody'>{{this.dataValues.description}}</div> 
      </div>
      <button type="submit" class="btn btn-sm btn-outline-secondary" id='editButton' style='font-size: 14px'>Edit</button>
      <button type="submit" class="btn btn-sm btn-outline-secondary" id='editSubmit' style='font-size: 14px'>Submit</button>
      <button type="submit" class="btn btn-sm btn-outline-secondary" id='editCancel' style='font-size: 14px'>Cancel</button>
    </div>
 
  </container>

<container>
<div>Comments</div>
<div id = 'comments' class = 'pb-2' >
  {{#each commentsObj}}
    <div class ='comment pl-3 mb-2'>
      <div class = 'commentheader'>
        <img class = 'commentAvatar' src='https://i.pinimg.com/236x/3d/e0/d6/3de0d62c7e57082ec30bb401e6425e74--goomy-pokemon-pokemon-pokedex.jpg'>
        <div class = 'commentauthor' id="{{this.commenterObj.ID}}" ><a href='#'>{{this.commenterObj.username}}</a></div>
        <div class = 'commentdate'>  | {{this.createdAt}}</div>
      </div>

      <div class = 'commentbody'>{{this.text}}</div>
    </div>
  {{/each}}
  <button type="submit" class="btn btn-sm btn-outline-secondary " style='font-size: 14px' id='commentButton'>Create Comment</button>
</div>
</container>

<form id = 'commentForm'>
  <div class="form-group">
    <textarea class="form-control" id="commentBox"></textarea>
  </div>
  <button type="submit" class="btn btn-sm btn-outline-secondary" id='commentSubmit' style='font-size: 14px'>Submit</button>
  <button type="submit" class="btn btn-sm btn-outline-secondary" id='commentCancel' style='font-size: 14px'>Cancel</button>
</form>
</div>







<script>
  $(document).ready(function() {
    var originalBody = $('#mediabody').html()
    var originalTitle = $('#mediatitle').html()

    if('{{type}}' == 'Audio'){
      var audioURL = '{{url}}'
      var newAudio = $('<audio controls>')
      var newSource = $('<source>').attr('src',audioURL)
      newAudio.append(newSource)
      $('#mediacontent').prepend(newAudio)
    }
    else if('{{type}}' == 'Image'){
      var imageURL = '{{url}}'
      var newImage = $('<img>').attr('src', imageURL)
      $('#mediacontent').prepend(newImage)
    }

    $('#editSubmit').hide();
    $('#editCancel').hide();
    $('#commentForm').hide()
    $('#editButton').on('click',function(event){
      $('#editSubmit').show();
      $('#editCancel').show();
      $('#mediatitle').attr('contenteditable',true).css({'border': 'solid 1px' })
      $('#mediabody').attr('contenteditable', true).css({'border': 'solid 1px' })
      $('#editButton').hide()
    })
    $('#commentButton').on('click',function(event){
      $('#commentButton').hide();
      $('#commentForm').show();
    })
    $("#commentSubmit").on("click",function(event){
      event.preventDefault();
      var newComment = {
        //Author is passed in from the session in req.params
        text: $("#commentBox").val(),
        mediaId: "{{mediaObj.ID}}",
        type: "media",
      };
      $.post("/api/comments",newComment).then(function(){
        location.reload();
      });
    });
    $('#editCancel').on('click',function(event){
      event.preventDefault();
      $('#editSubmit').hide();
      $('#editCancel').hide();
      $('#mediatitle').attr('contenteditable',true).css({'border': 'solid 0px' }).html(originalTitle)
      $('#mediabody').attr('contenteditable', true).css({'border': 'solid 0px' }).html(originalBody)
  
      $('#media').show();
      $('#editButton').show();
    })

    $("#commentCancel").on("click", function(event){
      event.preventDefault();

      $('#commentForm').hide();
      $('#commentButton').show();
    })

    $("#editSubmit").on("click",function(event){
      event.preventDefault();
      var editedPost = {
        //Author is passed in from the session in req.params
        title: $("#mediatitle").html(),
        mediaId: "{{mediaObj.ID}}",
        description: $('#mediabody'),
      };
      $.post("/media",newComment).then(function(){
        location.reload();
      });
    });
  });
</script>
{{!-- <script type="text/javascript" src="/js/media.js"></script> --}}

