<link rel="stylesheet" href="/css/submission.css">

<div id = 'main'>
  <container class = "container-fluid"> 
    <div id ='submission'>
      <div id = 'submissionheader'>
        <div id ='title-avatar'>
          <div id = 'submissiontitle' >{{this.submission.title}}</div>
        </div>
        <img class = 'avatar' src='{{this.submission.User.avatar}}'>
        <a href='/user/{{this.submission.User.id}}'><div id = 'submissionauthor' >{{this.submission.User.username}}</div></a>
        <div id = 'submissiondate'></div>
      </div>

      <div id = 'submissioncontent'>
        {{#switch this.submission.type}}
          {{#case 'image'}}
            <div class='book'><img id='submissionimage' src='{{this.submission.file}}'></div>
          {{/case}}
          {{#case 'audio'}}
            <div>
              <audio controls>
                <source src='{{this.submission.file}}'>
              </audio>
            </div>
          {{/case}}
        {{/switch}}
      </div>
      <div class="description">
        <div class = 'headers'>Description</div>
        {{!-- submission body is a fucking terrible id, probably because text is just stored as a description... --}}
        <div id ='submissionbody'>{{this.submission.description}}</div> 
        <button type="submit" class="btn btn-sm btn-outline-secondary" id='editButton' style='font-size: 14px'>Edit</button>
        <button type="submit" class="btn btn-sm btn-outline-secondary" id='editSubmit' style='font-size: 14px'>Submit</button>
        <button type="submit" class="btn btn-sm btn-outline-secondary" id='editCancel' style='font-size: 14px'>Cancel</button>
        <button type="submit" class="btn btn-sm btn-outline-danger" id='deleteSubmission' style='font-size: 14px'>Delete</button>
      </div>
    </div>
 
  </container>

<container>
<div class = 'headers'>Comments</div>
<div id = 'comments' class = 'pb-2' >
  {{#each this.comments}}
    <div class ='comment pl-3 mb-2' id="comment{{this.id}}" data-plainId='{{this.id}}'>
      <div class = 'commentheader'>
        <img class = 'commentAvatar' src='{{this.User.avatar}}'>
        <div class = 'commentauthor' id="{{this.User.id}}" ><a href='/user/{{this.User.id}}'>{{this.User.username}}</a></div>
        <div class = 'commentdate'>  | {{this.createdAt}}</div>
      </div>

      <div class = 'commentbody'>{{this.text}}
        <button type="submit" class="btn btn-sm btn-outline-danger commentDelete" id='comment{{this.id}}delete' data-plainId='{{this.id}}' style='font-size: 14px'>X</button>
      </div>
    </div>
  {{/each}}
  <button type="submit" class="btn btn-sm btn-outline-secondary " style='font-size: 14px' id='commentButton'>Create Comment</button>
</div>
</container>

<form id = 'commentForm'>
  <div class="form-group">
    <textarea class="form-control" id="commentBox"></textarea>
  </div>
  <button type="submit" class="btn btn-sm btn-outline-secondary" id='commentSubmit' style='font-size: 14px'>Submit</button>
  <button type="submit" class="btn btn-sm btn-outline-secondary" id='commentCancel' style='font-size: 14px'>Cancel</button>
</form>
</div>







<script>


  $(document).ready(function() {
    var originalBody = $('#submissionbody').html()
    var originalTitle = $('#submissiontitle').html()

    if('{{type}}' == 'Audio'){
      var audioURL = '{{url}}'
      var newAudio = $('<audio controls>')
      var newSource = $('<source>').attr('src',audioURL)
      newAudio.append(newSource)
      $('#submissioncontent').prepend(newAudio)
    }
    else if('{{type}}' == 'Image'){
      var imageURL = '{{url}}'
      var newImage = $('<img>').attr('src', imageURL)
      newImage.attr("id","test")
      $('#submissioncontent').prepend(newImage)
    }

    $('#editButton').hide();
    if ("{{this.submission.dataValues.currentUser}}" === "{{this.submission.dataValues.UserId}}") {
      $("#editButton").show();
    };

    
    $('#editSubmit').hide();
    $('#editCancel').hide();
    $('#commentForm').hide();
    $("#deleteSubmission").hide();
    $(".commentDelete").hide();


    $('#editButton').on('click',function(event){
      $('#editSubmit').show();
      $('#editCancel').show();
      $("#deleteSubmission").show();
      $('#submissiontitle').attr('contenteditable',true).css({'border': 'solid 1px' })
      $('#submissionbody').attr('contenteditable', true).css({'border': 'solid 1px' })
      $('#editButton').hide()
    })

    $('#commentButton').on('click',function(event){
      $('#commentButton').hide();
      $('#commentForm').show();
    })

    //Submit Comment to server
    $("#commentSubmit").on("click",function(event){
      event.preventDefault();
      var newComment = {
        //Author is passed in from the session in req.user
        text: $("#commentBox").val(),
      };
      
      $.post("/submission/{{this.submission.id}}/comment",newComment).then(function(data){
        
        //location.reload();
        location.assign(data);
      })
    });

    $('#editCancel').on('click',function(event){
      event.preventDefault();
      $('#editSubmit').hide();
      $('#editCancel').hide();
      $("#deleteSubmission").hide();
      $('#submissiontitle').attr('contenteditable',true).css({'border': 'solid 0px' }).html(originalTitle)
      $('#submissionbody').attr('contenteditable', true).css({'border': 'solid 0px' }).html(originalBody)
  
      $('#submission').show();
      $('#editButton').show();
    })

    $("#commentCancel").on("click", function(event){
      event.preventDefault();

      $('#commentForm').hide();
      $('#commentButton').show();
    })

    $("#deleteSubmission").on("click",function(event){
      event.preventDefault();

      let id = $("#submission").attr("data-id")

      $.ajax({
        type: "DELETE",
        url: "/submission/{{this.submission.id}}",
      }).then(function(){
        location.assign("http://localhost:8080/")
      })
    })


    //FINALLY GOT THE DATA
    //use the test value for req params, id will be used for delete route
    $(".commentDelete").on("click",function(event){
      event.preventDefault();
      let commentId = event.currentTarget.dataset.plainid
      let url = "/comment/" + commentId

      // delete route
      $.ajax({
        type: "DELETE",
        url: url,
      }).then(function(){
        location.reload()
      })


    })



    //For now I am mousing over the comment class for testing sake
    //Must dynamically generate button within the timeout function
    //Then use id for delete route! (delete route in progress)
    //Great job today! You were feeling low and didn't have to work
    //BUT you worked on this project anyways! :D I'm proud bud
    $(".comment").on("mouseover",function(event){
      event.preventDefault();
      

      setTimeout(function(){
        const id = event.currentTarget.id
        const commentDeleteId =id + "delete";
        $("#" + commentDeleteId).fadeIn()
      
        setTimeout(function(){
          $('#' + commentDeleteId).fadeOut()
        }, 2500)
      }, 1500);
    })



    $("#editSubmit").on("click",function(event){
      event.preventDefault();
      var editedPost = {
        //Author is passed in from the session in req.params
        title: $("#submissiontitle").text(),
        description: $('#submissionbody').text(),
        ownerId: "{{this.submission.UserId}}"
      };
      
      var id = $("#submission").attr("data-id");
      $.ajax({
        type: "PUT",
        url: "/submission/{{this.submission.id}}", 
        data: editedPost
      }).then(function() {
        location.reload();
      });
    });

    var created = "{{this.submission.createdAt}}"
    var create = created.slice(0,15);
    $("#submissiondate").text(create);
    
  });
</script>