<link rel="stylesheet" href="/css/user.css">

<div id='main'>
    <div id='profileinfo'>
        <img id = 'avatar' src = '{{this.dataValues.avatar}}'>
        <div>{{this.dataValues.username}}</div>
        <div>{{this.dataValues.email}}</div>
        <div>{{this.dataValues.bio}}</div>
        <a href="/user/{{this.dataValues.id}}/edit">
            <button type="submit" class="btn btn-sm btn-outline-secondary" id='editUserButton' style='font-size: 14px'>Edit Profile</button>
        </a>
    </div>


    <div class ='header'>Submissions</div>
    <div class="personal-container">
        {{#each this.Submissions}}
        {{#switch this.type}}
            {{#case "image"}}
        <div class = "submission-box" data-id="{{this.id}}">
            <label class='title'>{{this.title}}</label>
            <a href="../submission/{{this.id}}"><img class="submission-image" src="{{this.file}}"></a>
        </div>
            {{/case}}
            {{#case "text"}}
        <div class = "submission-box" data-id="{{this.id}}">
            <label class='title'>{{this.title}}</label>
            <a href="../submission/{{this.id}}"><img class="submission-image" src="/images/text.jpg"></a>
        </div>
            {{/case}}
        {{#case "audio"}}
        <div class = "submission-box" data-id="{{this.id}}">
            <label class='title'>{{this.title}}</label>
            <a href="../submission/{{this.id}}"><img class="submission-image" src="https://cdn1.iconfinder.com/data/icons/musical-notes-1/100/Music_Note6-01-512.png"></a>
        </div>
            {{/case}}
        {{/switch}}
        {{/each}}
    </div>
    {{!-- <div class ='header'>Submissions</div> --}}
</div>
<script>
    $('#editUserButton').hide();
    console.log("{{this.dataValues.currentUser}}", "+", "{{this.dataValues.id}}");
    if ("{{this.dataValues.currentUser}}" === "{{this.dataValues.id}}") {
      $("#editUserButton").show();
    };
</script>