<link rel="stylesheet" href="/css/user.css">

<a href="/edituser"><h6>LOAD DAMNIT</h6></a>
<div class="container">{{this.username}}</div>
<div class="personal-container">
    {{#each resultObj.Submissions}}
      {{#switch this.type}}
        {{#case "image"}}
    <div class = "submission-box" data-id="{{this.id}}">
        <h6><span class='title'>{{this.title}}</span></h6>
        <a href="../submission/{{this.id}}"><img class="submission-image" height=168 width=168 src="{{this.file}}"></a>
    </div>
        {{/case}}
        {{#case "text"}}
    <div class = "submission-box" data-id="{{this.id}}">
        <h6><span class='title'>{{this.title}}</span></h6>
        <a href="../submission/{{this.id}}"><img class="submission-image" height=168 width=168 src="/images/text.jpg"></a>
    </div>
        {{/case}}
      {{/switch}}
    {{/each}}
</div>

<script>
    $('#editUserButton').hide();
    if ("{{this.submission.dataValues.currentUser}}" === "{{this.submission.dataValues.UserId}}") {
      $("#editUserButton").show();
    };
</script>